@import '../mixins/';
@import '../vars/';

.card {
  @include flex($direction: column, $justify: space-between, $align: center);
  border-radius: $regular-radius;
  border: 1px solid $color-white;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(1em);
  padding: 1em 0.75em;
  margin: 1em;
  width: 80%;
  transition: all 0.3s ease-out;

  &-title {
    font-weight: $font-semi-bold;
    font-size: $font-large;
    text-align: center;
  }

  &-description {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.5em;
    width: 100%;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid $color-pink-light-5;
    box-shadow: 0 2px 20px rgba(255, 0, 130, 0.2);
  }
}
