@import '../mixins';
@import '../vars/';

.data-box {
  @include flex($direction: row, $justify: flex-start, $align: center);
  width: 100%;

  &-info {
    @include flex(
      $direction: row,
      $justify: space-around,
      $align: center,
      $gap: 0.75 * $gap
    );
    background-color: hsla(0, 0%, 100%, 0.4);
    box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
    border-radius: $sm-input-radius;
    padding: 0.5em;
    width: 100%;
  }
  &-value {
    background-color: $color-white;
    padding: 0.5em;
    border-radius: $sm-input-radius;
  }
  &-copy {
    border-radius: $sm-input-radius;
    padding: 0.25em;
    width: 2.5em;
    cursor: pointer;
  }
}
