@import 'vars/';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    // color: $color-gradient-08;

    // background: $color-black;
  }
  h1 {
    background: linear-gradient(60deg, #e21143, #ffb03a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //   background-clip: text;
    // color: transparent;
  }
}
