@import 'src/styles/mixins';

.navbar {
  @include flex(
    $direction: row,
    $justify: space-between,
    $align: center,
    $gap: 1.5em
  );
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
  border-radius: 8px;
  padding: 4px;
  margin: 1em;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
