@import '../vars/';

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2 * $gap;
  justify-items: center;
  align-items: stretch;
  width: 100%;

  &-2-columns {
    grid-template-columns: repeat(2, 1fr);
  }
  &-3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  &-4-columns {
    grid-template-columns: repeat(4, 1fr);
  }
  &-5-columns {
    grid-template-columns: repeat(5, 1fr);
  }
}
